@media only screen and (max-width: 48em) {
  div.content {
    top:80px;
  }
}
.content {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  line-height: 60px;
  font-family: 'Stint Ultra Condensed', cursive;
  color: black;
  height: 160px;
  overflow:hidden;
}

.visible {
  font-weight: 600;
  overflow: hidden;
  height: 60px;
  padding: 0 45px;
}
.visible:before {
  content: '<';
  left: 0;
  line-height: 60px;
}
.visible:after {
  content: '/>';
  position: absolute;
  right: 0;
  line-height:60px;
}

.visible:after, .visible:before {
  position: absolute;
  top: 0;

  color: #008080;
  font-size: 57px;
}

.visible p {
  display: inline;
  float: left;
  margin: 0;
}

ul {
  margin-top: 0;
  padding-left: 80px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}

ul li {
  line-height: 60px;
  margin:0;
}

@-webkit-keyframes change {
  0%, 12%, 100% {
    transform: translateY(0);
  }
  17%,29% {
    transform: translateY(-25%);
  }
  34%,46% {
    transform: translateY(-50%);
  }
  51%,63% {
    transform: translateY(-75%);
  }
  68%,80% {
    transform: translateY(-50%);
  }
  85%,97% {
    transform: translateY(-25%);
  }
}

@keyframes change {
  0%, 12%, 100% {
    transform: translateY(0);
  }
  17%,29% {
    transform: translateY(-25%);
  }
  34%,46% {
    transform: translateY(-50%);
  }
  51%,63% {
    transform: translateY(-75%);
  }
  68%,80% {
    transform: translateY(-50%);
  }
  85%,97% {
    transform: translateY(-25%);
  }
}