@media only screen and (max-width: 61.938em) {
  div.skill {
    visibility: hidden;
  }

  div.skillcontent {
    visibility: visible;
  }
}

.mgskill {
  margin-top: 50px;
}

.skill {
  width: 80%;
  margin: auto;
  height: 400px;
}

.skill-level {
  /*text-align: right;*/
  /*display: bottom;*/
  height:100% ;
  position: relative;
}

.leveltitle {
  display: inline-block;
  /*width: 100px;*/
  text-align: center;
  /*margin-left: 64px;*/
  border-right: 2px solid black; 
  height: 100%;
  position: absolute;

}

/*.a {
  right: 80%;
}*/

.inicio {
  right: 80%;
}

.dostres {
  right: 60%;
}

.medio {
  right: 40%;
}

.experto {
  right: 20%;
}

.master {
  right: 0;
}

.leveltitle p {
  background-color:#008080;
  padding:10px;
  width: 100px;
  color:white;
  font-family: 'Courier';
  font-size: 16px;
}

.skills {
  height: 100%;
  /*width: 80%;*/
  transform: translateY(-80%);
  /*transform: translateX(0%);*/
  /*margin:0;*/
  /*right: 0;*/
}

.skillbar {
  position:relative;
  display:block;
  margin-bottom:5px;
  width:100%;
  /*background:#eee;*/
  height:52px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:110px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  /*background:#333333;*/
  background:#008080;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  font-family: 'Inconsolata', monospace;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#525252;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

/*.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}*/

.skillmobile {
  position: absolute;
  top: 50%;
  margin-top: -381px;
  /*transform: translateY(-50%);*/
  display: flex;
  flex-wrap: wrap
}
.skillcontent {
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  visibility: hidden;
}

.skillcontent div{
  width: 200px;
  flex:33.3%;
  text-align: center;
  margin-top: 70px;
}

.skillcontent img {
  width: 200px;
}

.html {
  display: 1
}


